* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --title-color: #322153;
    --green-color: rgb(68,223,134);
}
html {
    font-family: Roboto, sans-serif;
}
body {
    background-color: #F0F0F5;
    -webkit-font-smoothing: antialiased;
}
a {
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
    font-family: Ubuntu, sans-serif;
    color: var(--title-color);
}